# =========================
# DATASETS
# =========================
datasets/
preprocessed_datasets/

# =========================
# TRAINED MODELS
# =========================
models/
*.pt
*.pth

# =========================
# LOGS / EXPERIMENT OUTPUT
# =========================
logs/

# =========================
# PYTHON
# =========================
__pycache__/
*.pyc
.ipynb_checkpoints/

# =========================
# TEST
# =========================
test/